<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
   <%= link_to_function "Back", "history.back()",:class=> "back-btn" %>
 </p>
<h1>New Job Post</h1>

<%= render 'form' %>
</div>
    </div>
  </div>
</div>