<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
 	<ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li>
            <li class = "active">Student University</li>
             <li><%= link_to 'Index page', student_universities_path %></li>
            
          </ol>
   
 </p>

<h1>Editing Student University</h1>

<%= render 'form' %>

</div>
    </div>
  </div>
</div>