<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
          
          <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li>
            <li><%= link_to 'Job Groups', admin_job_groups_path %></li>
            <li>Create Job Groups</li>
          </ol>
       </p>
<h1>New Group Name</h1>

<%= render 'form' %>
</div>
    </div>
  </div>
</div>

