<p id="notice"><%= notice %></p>

<p>
  <strong>Major name:</strong>
  <%= @admin_student_major.major_name %>
</p>

<%= link_to 'Edit', edit_admin_student_major_path(@admin_student_major) %> |
<%= link_to 'Back', admin_student_majors_path %>
