<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
 	<ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li> 
            <li><%= link_to 'Jobs', admin_jobs_path %></li>
            <li class = "active">New Job</li> 
            
    </ol>
   <%#= link_to_function "Back", "history.back()",:class=> "back-btn" %>
 </p>

<h1>New Job</h1>

<%= render 'form' %>
</div>
    </div>
  </div>
</div>