 
<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
       <p>
          
          <ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li>
            <li class = "active">Student Country</li>
             <li><%= link_to 'Add Country',new_admin_country_path %></li>
            
          </ol>
       </p>
        <h1>Student Country</h1>

        <table cellpadding="0" cellspacing="0" border="0" class="dataTable" id="example">
    <thead>
        <tr>
            <th>Country</th>
            <th>Remove Country</th>
            
        </tr>
    </thead>
    <tbody>
      <% @admin_countries.each do |country| %>
        <tr>
              <td><%= country.country_name rescue nil %></td>
              <td><%= link_to 'Remove', edit_admin_country_path(country) %></td>
              
        </tr>
      <% end %>
    </tbody>
</table>
        <br />
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

     $(document).ready(function() {
    $('#example').dataTable({"sPaginationType": "full_numbers"});
});
    </script>