<div class="faq">
<div class="container">
<div class="row" style="margin-top:150px;">
<div class="span12">
 <p>
 	<ol class = "breadcrumb">
            <li><%= link_to 'Dashboard',admin_root_path %></li>
            <li class = "active">New Student City</li>
             <li><%= link_to 'Index page', student_cities_path %></li>
            
          </ol>
   
 </p>
<h1>New Student City</h1>

<%= render 'form' %>

<%= link_to 'Back', student_cities_path %>

</div>
    </div>
  </div>
</div>